<%- include('header') -%>

<% const renderMoms = (mom) => { %>
  <div id='<%= mom.name %>' class='character-container'>
    <div class="circle"></div>
    <h3><%= mom.name %></h3>
    <div>
      <div class='row flexInbetween'>
        <p>Salary:</p>
        <p><%= mom.budget %></p>
      </div>
      <div class='row flexInbetween'>
        <p>Marital Status:</p>
        <p><%= mom.maritalStatus %></p>
      </div>
      <div class='row flexInbetween'>
        <p># of children:</p>
        <p><%= mom.numChildren %></p>
      </div>
      <div class='row flexInbetween'>
        <p>Occupation:</p>
        <p><%= mom.occupation %></p>
      </div>
      <div class='row flexInbetween'>
        <p>Education Level:</p>
        <p><%= mom.education %></p>
      </div>
      <div class='row flexInbetween'>
        <p>Parents location:</p>
        <p><%= mom.parentsLoc %></p>
      </div>
    </div>
    <form action="/selectMom" method="post">
      <button class="arrow" action="submit" name="selectedMom" value=<%- mom.id + "-" + mom.name %>>-></button>
    </form>
    <div class="shade-circle"></div>
  </div>
<% } %>


<body>
  <div class='container'>
    <h2>Start your experience as...</h2>
    <div class='row slider'>
      <% momList.forEach(mom =>{ %>
        <%= renderMoms(mom); %>
      <% }) %>
    </div>
  </div>
</body>

<script>
  // tutorial from https://www.youtube.com/watch?v=C9EWifQ5xqA
  const slider = document.querySelector('.slider');
  let startPos;
  let isDown = false;
  let scrollLeft;

  slider.addEventListener('mousedown', (e) =>{
    isDown = true;
    startPos = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft
  });

  slider.addEventListener('mousemove', (e) =>{
    e.preventDefault();
    if(isDown){
      const x = e.pageX - slider.offsetLeft;
      const distance = x - startPos;
      slider.scrollLeft += distance;
      console.log(slider);
    }
  });

  slider.addEventListener('mouseleave', () =>{
    isDown = false;
  });

  slider.addEventListener('mouseup', () =>{
    isDown = false;
  });
</script>