<%- include("header") -%>

<body>
    <div id="game-container">
        <div id="navigation-opts">
            <form action="/back-question" method="post">
                <button id="navigation-btn" action="submit" name="questionNumber" value=<%= questionNumber %>>
                    <i class="fas fa-arrow-left"></i>
                    <a></a>
                    <p>Go Back</p>
                </button>
            </form>
            <form action="/play-again" method="post">
                <button id="navigation-btn" action="submit">
                    <i class="fas fa-redo"></i>
                    <a></a>
                    <p>Start Over</p>
                </button>
            </form>            
        </div>

        <h4 class=<%= selectedMom.id %>><%= selectedMom.name %>'s Experience</h4>
    
        <h1><%= prompt %></h1>

        <div id="choices-container">
            <div id="selections">
                <% for (var i = 0; i < selections.length; i++) { %>
                    <button class=<%- selections[i].available.includes(selectedMom.id) ? "available" : "unavailable" %>
                        id=<%- i %> onclick="selectButton(<%- i %>)">
                        <div id="choice-text"><%= selections[i].choice %></div>
                        <!-- <div class="fact">
                            <p><%= selections[i].stat %></p>
                            <a href=<%= selections[i].link %> target="__blank">
                                <p>Learn More</p>
                            </a>
                        </div> -->
                    </button>
                <% }; %>
            </div>
            <div id="circle-container">
                <span class="circle" id=<%= selectedMom.id %>></span>
            </div>
        </div>

        <form action="/advance-question" method="post">
            <button id="next-btn" class="animated-button" action="submit" name="questionNumber" value=<%= questionNumber %>>next</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/choiceSelection.js"></script>
</body>

</html>